@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom styles go here */
@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Sahel-Light.woff") format("woff");
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Sahel.woff") format("woff");
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Sahel-Bold.woff") format("woff");
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Sahel-Black.woff") format("woff");
}

* {
    font-family: sahel, Arial, Helvetica, sans-serif;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    right: -500px;
}

.active {
    right: 0 !important;
}

/* Width and height of the scrollbar track */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #7f8c8d;
    /* Color of the thumb */
    border-radius: 6px;
    /* Round the corners of the thumb */
}

/* Styles on hover for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Change color on hover */
}

/* Styles for the scrollbar track (the area where the thumb moves) */
::-webkit-scrollbar-track {
    background-color: #dcdcdc;
    /* Color of the track */
    border-radius: 6px;
    /* Round the corners of the track */
}

/* Styles for the scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: #fff;
    /* Color of the scrollbar corner */
}